*{
    margin: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
*:last-child, div{
    margin-bottom: 0 !important;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-title{
    color: #575757;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.4em;
}
.brand-color{
    background: #FBA24F;
    background: linear-gradient( 120deg, #FBA24F 50%, #FF1E1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text{
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    width: 75%;
}
.my-btn{
    padding: 18px 40px;
    border-radius: 100px;
    background-image: linear-gradient( 120deg, #FBA24F 0%, #FF1E1E 100%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}
.container{
    max-width: 1400px;
}
.half-width{
    width: 50%;
    padding: 15px;
}
.banner-img{
    width: 100%;
}
.about-section{
    background-image: url(images/About\ bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.about-img{
    width: 400px;
    display: block;
    margin: 0 auto;
}
.banner{
    padding: 50px 0;
}
.about-section{
    padding-top: 80px;
}
.about-img-div{
    padding: 0;
    text-align: center;
}
.sub-title{
    color: #707070;
    font-size: 40px;
}

